main.main
	.flat-choose 
		h1.h1 Выберите квартиру
		.flat-choose__columns 
			.flat-choose__left 
				.flat-choose__tabs 
					.flat-choose__list 
						ul 
							li.flat-choose__list-tab.active(data-id="0") Студия
							li.flat-choose__list-tab(data-id="1") 1
							li.flat-choose__list-tab(data-id="2") 2
							li.flat-choose__list-tab(data-id="3") 3
					.flat-choose__wrapper 
						.flat-choose__flats.active(data-text="0")
							.flat-choose__flats-count 12 квартир
							.flat-choose__flats-inner 
								-for(var i = 0; i < 12; ++i)
									.flat-choose__flat
										img(src="./img/flat-detail.png" alt="")
						-for(var j = 1; j < 4; ++j)
							.flat-choose__flats(data-text=`${j}`)
								.flat-choose__flats-count= `${j+12} квартир`
								.flat-choose__flats-inner 
									-for(var i = 0; i < (9 + j); ++i)
										.flat-choose__flat
											img(src="./img/flat-detail.png" alt="")
					.flat-choose__center
						a.button(href="") Все квартиры
			.flat-choose__middle 
				.flat-choose__middle-info
					.flat-choose__middle-about
						span 1/57
						span 2-34-Л-Д(2.1)
					img.flat-choose__img(src="./img/flat-detail.png" alt="")
					.flat-choose__flat-desc
						.flat-choose-params 
							.flat-choose-params__block
								.flat-choose-params__name Проект
								.flat-choose-params__value Квартал Герцена
							.flat-choose-params__block
								.flat-choose-params__name Площадь
								.flat-choose-params__value 65,2 м²
							.flat-choose-params__block
								.flat-choose-params__name Этаж
								.flat-choose-params__value 9–19
							.flat-choose-params__block
								.flat-choose-params__name Корпус
								.flat-choose-params__value 1
							.flat-choose-params__block
								.flat-choose-params__name Номер квартиры
								.flat-choose-params__value 136
							
			.flat-choose__right
				.floor-slider.floor-slider_choose-flat
					.floor-slider__floor
						.floor-slider__slide(data-floor="2").active
							span 2
							| Этаж
						- let count = 2;
							while count < 10
								- count += 1;
								.floor-slider__slide(data-floor=`${count}`)
									span= count
									| Этаж
					.floor-slider__controls
						.floor-slider__prev 
							<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.3459 18.5L16.3459 14.5L20.3459 18.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /><path d="M16.3459 29.8333C10.0605 29.8333 6.91782 29.8333 4.96519 27.8806C3.01257 25.928 3.01257 22.7853 3.01257 16.4999C3.01257 10.2145 3.01257 7.07183 4.96519 5.11921C6.91782 3.16658 10.0605 3.16658 16.3459 3.16658C22.6313 3.16658 25.774 3.16658 27.7266 5.1192C29.6792 7.07183 29.6792 10.2145 29.6792 16.4999C29.6792 22.7853 29.6792 25.928 27.7266 27.8806C25.774 29.8333 22.6313 29.8333 16.3459 29.8333Z" stroke="white" stroke-width="1.5" /></svg>
						.floor-slider__next
							<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.3459 14.5L16.3459 18.5L20.3459 14.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /><path d="M16.3459 29.8333C10.0605 29.8333 6.91782 29.8333 4.96519 27.8806C3.01257 25.928 3.01257 22.7853 3.01257 16.4999C3.01257 10.2145 3.01257 7.07183 4.96519 5.11921C6.91782 3.16658 10.0605 3.16658 16.3459 3.16658C22.6313 3.16658 25.774 3.16658 27.7266 5.1192C29.6792 7.07183 29.6792 10.2145 29.6792 16.4999C29.6792 22.7853 29.6792 25.928 27.7266 27.8806C25.774 29.8333 22.6313 29.8333 16.3459 29.8333Z" stroke="white" stroke-width="1.5" /></svg>
				.floor-list
					- let count2 = 11;
					while count2 > 3
						- count2 -= 1;
						.floor-list__item(data-floor=`${count2}`)= count2  
							|  Этаж
					.floor-list__item.active(data-floor="2") 2 Этаж
	.flat-contacts 
		.container 
			.flat-contacts__inner 
				.flat-contacts__info 
					.flat-contacts__phone
						a(href="tel:+7 4012 52-73-70") +7 4012 52-73-70
					.flat-contacts__subtitle Отдел продаж на объекте
					.flat-contacts__phone
						a(href="tel:+7 4012 52-73-70") +7 4012 52-73-70
					.flat-contacts__text Новый жилой комплекс «Нахимовский квартал» строится в районе популярной элитной застройки на ул. Артиллерийской. Во второй очереди будет возведён 324 — квартирный жилой дом этажностью 10 этажей. Проектом предусмотрены повышенные требования к комфорту квартир и общедомового пространства: просторные планировки и большие кухни, автономное отопление, два лифта на секцию, всего 4 квартиры на площадке, выход из подъездов на обе стороны, внутренний двор без машин, большое количество парковочных мест, благоустройство с прогулочными зонами, зонами отдыха, спортивными и детскими игровыми площадками. Жилой комплекс выдержан в современном стиле и гармонирует с уже существующей застройкой микрорайона.
				.flat-contacts__form.form 
					.form__title Укажите свои контакты и мы Вам перезвоним:
					form(action="")
						.form__block 
							label.form__label ФИО
							input.form__input(type="text" value="")
						.form__block 
							label.form__label Телефон
							input.form__input(type="text" value="")
						.form__block 
							button.button() Заказать звонок
						.form__agree Нажимая кнопку Заказать звонок Вы соглашаетесь с 
							a(href="") Правилами обработки персональных данных